/* Created by J-C Castagne @ GitHub: https://github.com/JCcastagne */

#loaderIcon{
  display: none;
}

#loaderIcon.active{
  display: flex;
  justify-content: center;
  margin: 2.5em;
}

#loaderIcon svg{
  transform: scale(0.5);
}

#loaderIcon #circles{
  height: 300px;
  overflow: visible;
}

#one.animate,
#two.animate,
#three.animate,
#four.animate,
#five.animate,
#six.animate,
#seven.animate,
#eight.animate{
  animation: outer 4s infinite ease-in-out;
  stroke-width: 0px;
}

#oneo.animate,
#twoo.animate,
#threeo.animate,
#fouro.animate,
#fiveo.animate,
#sixo.animate,
#seveno.animate,
#eighto.animate{
  animation: outer 4s infinite ease-in-out;
  stroke-width: 0px;
}


@keyframes outer{
  0%{
    stroke-width: 0px;
  }
  50%{
    stroke-width: 180px;
  }
  100%{
    stroke-width: 0px;
  }
}

@keyframes inner{
  0%{
    stroke-width: 0px;
  }
  50%{
    stroke-width: 180px;
  }
  100%{
    stroke-width: 0px;
  }
}