/*

OpenWeather | Created by J-C Castagne @ GitHub: https://github.com/JCcastagne

*/

@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background: var(--white5);
  background: linear-gradient(
    170deg,
    var(--topLeft) 0%,
    var(--bottomRight) 100%
  );
  color: var(--text);
  font-size: 1em;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  /*gradients*/
  --backgroundGradient: linear-gradient(135deg, #ced8e6 0%, #00254a 100%);
  --textGradient: linear-gradient(-135deg, #ced8e6 0%, #00254a 100%);

  --pageContainers: linear-gradient(135deg, #e0f0ff 0%, #446d91 100%);
  --dateSectionGradient: linear-gradient(135deg, #85929f 0%, #14314f 100%);
  --conditionsSectionGradient: linear-gradient(
    110deg,
    #8a98a8 0%,
    #455669 100%
  );
  --temperatureSectionGradient: linear-gradient(
    135deg,
    #617489 0%,
    #072645 100%
  );
  --statsSectionGradient: linear-gradient(135deg, #54687f 0%, #001a3b 100%);

  /*colors*/
  --lightBlue: #d1d9e6;
  --darkBlue: #002447;

  --text: #ffffff;

  /*font sizes*/

  --logo: 3.815em;
  --headers: 2.441em;
  --subHeaders: 1.953em;
  --body: 1.25em;
  --small: 1em;
}

#main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

#main section {
  scroll-snap-align: start;
}

/** header**/

header {
  color: var(--text);
  height: calc(100vh / 9);
  display: flex;
  position: absolute;
  transform: translateX(10vw);
  z-index: 999999;
}

header .wrapper {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
header .wrapper div {
  display: flex;
  align-items: center;
}

header .logo {
  transform: translateX(calc(40vw - 50%));
}
header .refresh {
  font-size: var(--small);
  font-weight: 300;
}
.refresh img {
  height: var(--body);
  padding-left: calc(0.25 * var(--body));
  filter: invert();
}

header h1 {
  font-weight: 300;
  font-size: var(--logo);
}
header h1:last-of-type {
  font-weight: 600;
  background: var(--textGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/** header^**/

/** weather panel **/

.weatherPage {
  background: var(--backgroundGradient);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

main.loaded {
  animation: slideIn 0.9s cubic-bezier(0.51, 0.01, 0.44, 0.98) forwards;
}

main {
  position: relative;
  transform: translateY(50vh);
  opacity: 0%;

  margin: auto;
  width: 80vw;
  max-width: 1000px;
  height: calc((calc(100vh / 9)) * 6);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border-radius: 16px;
  gap: 7.5px;

  background: var(--pageContainers);
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.16);
}

#mainWeather section {
  display: flex;
  align-items: center;
  border-radius: 12px;
}

.date {
  grid-column: 1 / -1;
  grid-row: 1;
  border-radius: 12px 12px 0 0 !important;
  gap: 0 !important;
  background: var(--dateSectionGradient);
}
.weather {
  grid-column: 1;
  grid-row: 2 / -1;
  background: var(--conditionsSectionGradient);
  margin: 0 0 7.5px 7.5px;
}
.temperature {
  grid-column: 2 / -1;
  grid-row: 2 / 4;
  background: var(--temperatureSectionGradient);
  margin-right: 7.5px;
}
.stats {
  grid-column: 2 / -1;
  grid-row: 4 / -1;
  background: var(--statsSectionGradient);
  margin: 0 7.5px 7.5px 0;
}

/**/

/*headers*/
.weather h3,
.stats h3 {
  font-size: var(--subHeaders);
  font-weight: 300;
}

.temperature .container > p {
  font-size: var(--headers) !important;
  padding-bottom: 1.2em;
  font-weight: 300;
}

.date {
  font-size: var(--headers);
  font-weight: 300;
  padding-left: var(--body);
}
/*headers^*/

/*bodies*/
.weather p,
.stats p {
  font-size: var(--body);
  font-weight: 200;
}
/*bodies^*/

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weather h3 {
  padding-bottom: calc(var(--small) / 2);
}
.weather p {
  padding-bottom: calc(var(--small) / 2);
}
.weather img {
  transform: translateY(33%);
  margin-right: calc(var(--small) / 2);
}

.temperature {
  display: flex;
  justify-content: center;
}
.temperature .container {
  display: flex;
  flex-direction: column;
}
.temperature .container div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 200;
  text-transform: capitalize;
  transform: translateY(-1.2em);
}
.temperature .container p {
  font-size: var(--body);
  padding-right: var(--small);
}

.stats {
  display: flex;
  justify-content: space-evenly;
}
.stats .container {
  /* background: black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 450px;
}
.stats .container div:first-of-type {
  padding-right: var(--body);
}
.stats img {
  transform: translateY(33%);
}

.weather img,
.stats img {
  height: calc(1.5 * var(--body));
  padding-right: calc(0.5 * var(--body));
  filter: invert();
}
.temperature img {
  display: block;
  height: 275px;
}

/** weather panel^**/

/** hourly & daily **/

#hourly.loaded,
#daily.loaded {
  animation: slideIn 0.9s 0.2s cubic-bezier(0.51, 0.01, 0.44, 0.98) forwards;
}

#hourly,
#daily {
  background: var(--backgroundGradient);
  position: relative;
  transform: translateY(50vw);
  opacity: 0%;
  height: 100vh;
  width: 100vw;
  padding-left: 10vw;
  justify-content: start;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  flex-wrap: nowrap;
  overflow-x: auto;
  /*ios scrolling*/
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  /* display: none; */
}

#hourly .container,
#daily .container {
  display: flex;
  flex-direction: column;
  border-radius: 12.5px;
  background: var(--dateSectionGradient);
  box-shadow: 9px 9px 18px rgba(0, 0, 0, 0.16);
  padding: 1em;
  min-width: 247px;
  margin: 0 1em;
  text-align: center;
}

#hourly .container h4,
#daily .container h4 {
  font-weight: 300;
  font-size: var(--subHeaders);
}

#hourly .container img,
#daily .container img {
  margin: 1em;
}

#hourly .container span,
#daily .container span {
  font-size: calc(var(--subHeaders) * 0.75);
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: var(--small);
}

#hourly .container .graph,
#daily .container .graph {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#hourly .container .graph p:nth-of-type(2n),
#daily .container .graph p:nth-of-type(2n) {
  text-align: center;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 25px;
  padding: 0.25em;
  width: 33%;
  transition: width ease-in-out 0.4s 0.4s;
  margin-bottom: calc(var(--small) * 0.75);
  /* MIN: 33% - MAX: 97% */
}

/** hourly & daily^ **/

/** footer **/

footer {
  position: absolute;
  bottom: 0em;
  margin-top: 4em;
  text-align: center;
  font-size: var(--one);
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

footer div {
  display: flex;
  flex-direction: row;
  width: 80vw;
  max-width: 1000px;
  margin-left: 10vw;
  justify-content: space-between;
}

footer a {
  color: black;
  transition: all 0.15s ease-in-out;
}

footer a:visited,
footer a:active,
footer a {
  text-decoration: none;
  color: var(--jetBlack);
  font-weight: 600;
}

footer a:focus,
footer a:hover {
  color: var(--lightBlue);
}

.credits p:nth-child(1) {
  /* border-left: solid 2px var(--white4); */
}
.credits p:nth-child(2) {
  /* padding-left: 0.6em; */
  /* border-left: solid 2px var(--white4); */
}

footer > p {
  line-height: 2.25em;
  /* padding-right: 0.5em; */
  /* border-right: solid 2px var(--white4); */
}

/** footer^**/

/** animations **/

@keyframes slideIn {
  to {
    transform: translateY(0vh);
    opacity: 100%;
  }
}

/** animations^ **/
